<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hobbycollection">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CraftsListActivity4" />
        <activity android:name=".CraftsListActivity3" />
        <activity android:name=".CraftsListActivity2" />
        <activity android:name=".CraftsListActivity1" />
        <activity android:name=".ArtListActivity4" />
        <activity android:name=".ArtListActivity3" />
        <activity android:name=".ArtListActivity2" />
        <activity android:name=".CookListActivity4" />
        <activity android:name=".CookListActivity3" />
        <activity android:name=".CookListActivity2" />
        <activity android:name=".ArtListActivity1" />
        <activity android:name=".CookActivity" />
        <activity android:name=".CookListActivity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".CraftsActivity" />
        <activity android:name=".ArtActivity" />
        <activity android:name=".PayActivity" />
        <activity android:name=".LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginAcitvity" />
        <activity android:name=".UserMainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WritePostActivity" />
    </application>

</manifest>